*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5DF4E;
  padding: 30px;
}
#header #nav-items li{
  list-style-type: none;
}
#header #nav-items li a{
  text-decoration: none;
  padding-right: 20px;
}

#nav-items{
  display: flex;
}
#header .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  align-items: center;
  justify-content: center;
  height: 30px;
}
#header .hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}

/* Tablet screens (up to 768px) */
@media (max-width: 768px) {
  #nav-items {
    display: none;
  }
  #hamburger {
    display: inline-block;
  }

}

/* Mobile screens (up to 480px) */
@media (max-width: 480px) {

}
